# Create a class called env.py and copy the contents of this file to it
# Then change all variables to what it appropriate for you

class wifi:
    SSID = "Your_2.4GHz_WiFi",
    PASSWORD = "Your_WiFi_password"