# Create a class called env.py and copy the contents of this file to it
# Then change all variables to what it appropriate for you

# WiFi configuration
WIFI_SSID = 'Your_WiFi_SSID',                           # WiFi SSID (name)
WIFI_PASSWORD = 'Your_WiFi_password'                    # WiFi password