# Create a class called env.py and copy the contents of this file to it
# Then change all variables to what it appropriate for you

import machine
import ubinascii

# WiFi configuration
WIFI_SSID                   = ''
WIFI_PASSWORD               = ''
WIFI_TRY_RECONNECT_INTERVAL = 60                                     # Delay before reconnecting after a failed connection, in seconds

# Adafruit IO configuation
AIO_BROKER                  = 'io.adafruit.com'
AIO_PORT                    = 1883
AIO_USERNAME                = ''                                     # AIO username
AIO_ACCESS_KEY              = ''                                     # AIO access key  (Something like: aio_lotsofnumbersandletters)
AIO_CLIENT_ID               = ubinascii.hexlify(machine.unique_id())
AIO_PUBLISH_INTERVAL        = 1200                                   # Delay between measurements, in seconds
AIO_FEED_TEMPERATURE        = ''                                     # Feed for temperature    (Something like: Your_Username/f/picow.dht11-temperature)
AIO_FEED_HUMIDITY           = ''                                     # Feed for humidity       (Something like: Your_Username/f/picow.dht11-humidity)
AIO_FEED_MOISTURE           = ''                                     # Feed for soil moisture  (Something like: Your_Username/f/picow.fc28-moisture)