# Create a class called env.py and copy the contents of this file to it
# Then change all variables to what it appropriate for you

import machine
import ubinascii

# WiFi configuration
WIFI_SSID = 'Your_WiFi_SSID'                                    # WiFi SSID (name)
WIFI_PASSWORD = 'Your_WiFi_password'                            # WiFi password
WIFI_TRY_RECONNECT_INTERVAL = 10                                # Time interval before trying to connect to WiFi again

# Adafruit IO configuation
MQTT_BROKER = 'io.adafruit.com'                                 # MQTT broker IP address or DNS
MQTT_PORT = 1883                                                # Port for MQTT message
MQTT_USERNAME = 'Your_Username'                                 # Adafruit username
MQTT_ACCESS_KEY = 'Your_Access_Key'                             # Adafruit access key (something like aio_lotsofnumbersandletters)
MQTT_CLIENT_ID = ubinascii.hexlify(machine.unique_id())         # The Pico W unique ID
MQTT_PUBLISH_INTERVAL = 1200                                    # Time interval between measuring and publishing, in seconds. Right now set to 20 minutes
MQTT_FEED_TEMPERATURE = 'Your_Username/f/Your_Temperature_Feed' # Feed for temperature (something like Your_Username/f/picow.dht11-temperature)
MQTT_FEED_HUMIDITY = 'Your_Username/f/Your_Humidity_Feed'       # Feed for humidity (something like Your_Username/f/picow.dht11-humidity)
MQTT_FEED_MOISTURE = 'Your_Username/f/Your_Moisture_Feed'       # Feed for soil moisture (something like Your_Username/f/picow.fc28-moisture)