# Create a class called env.py and copy the contents of this file to it
# Then change all variables to what it appropriate for you

import machine
import ubinascii

# WiFi configuration
WIFI_SSID = 'Your_WiFi_SSID'                            # WiFi SSID (name)
WIFI_PASSWORD = 'Your_WiFi_password'                    # WiFi password
WIFI_TRY_RECONNECT_INTERVAL = 10                        # Time interval before trying to connect to WiFi again

# Adafruit IO configuation
MQTT_BROKER = 'io.adafruit.com'                         # MQTT broker IP address or DNS
MQTT_PORT = 1883                                        # Port for MQTT message
MQTT_USERNAME = 'Your_Username'                         # Adafruit username
MQTT_ACCESS_KEY = 'Your_Access_Key'                     # Adafruit access key (something like aio_lotsofnumbersandletters)
MQTT_CLIENT_ID = ubinascii.hexlify(machine.unique_id()) # The Pico W unique ID
MQTT_PUBLISH_INTERVAL = 300                             # Time interval between measuring and publishing, in seconds
MQTT_FEED = 'Your_Feed'                                 # The feed to publish to in Adafruit IO (something like Your_Username/f/picow)